.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form{
  background-color: rgb(89, 66, 175);
  padding: 0px 60px;
  border-radius: 10px;
}

h2{
  color: rgb(204, 156, 25);
  text-align: center;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  bottom: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}